body {
  margin: 0;
  display: flex;
  place-items: center;
  background: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // white-space: pre-line;
}

#root {
  width: 100%;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

input {
  border: none;
  padding: 0.7rem 0rem;
  font-size: 1.1rem;
  background: none;
  transition: all 0.1s;
}

p {
  padding: 0;
  margin: 0;
}

input::placeholder {
  color: #aaa;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

#__next {
  width: 100vw;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.apply,
.update {
  cursor: pointer;
  border: 0;
  background: #1337ff;
  color: #fff;
  width: fit-content;
  padding: 0 50px;
  height: 80px;
  font-size: 24px;
  border-radius: 15px;
  line-height: 80px; 
  text-decoration: none;
  box-shadow: rgba(114, 89, 89, 0.1) 0px 4px 12px 0px;
  display: flex;
  
  &:hover {
    text-decoration: none;
    transform: scale(105%);
    transition: 0.125s ease;
  } 
  &:disabled {
    background: #8392eb;
    transform: scale(100%);
  }
}

main {
  label {
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 16px;
    color: #666;
  }
  .field {
    font-size: 28px;
    border-bottom: 1px solid #aaa;
  }    
  form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 20px;
    background: #eee;
    border-radius: 10px;
  }
}